@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.25rem var(--tw-shadow-color);
    paint-order: stroke fill;
  }
  .font-outline-3 {
    -webkit-text-stroke: 0.5rem var(--tw-shadow-color);
    paint-order: stroke fill;
  }
  .font-outline-4 {
    -webkit-text-stroke: 0.75rem var(--tw-shadow-color);
    paint-order: stroke fill;
  }
}

body {
  @apply bg-bg text-primary;
  scroll-behavior: smooth;
}
